{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configurator {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% compress css %}
        <link href="{% static "configurator/styles.less" %}" media="all" rel="stylesheet" type="text/less"/>
    {% endcompress %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{#    <script type="text/javascript" src="http://davidjbradshaw.com/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>#}

    {% block customhead %}{% endblock %}
</head>

<body role="document" class="{{ request.session.color }}">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Lamello Configurator</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/app/">{% trans "Home" %}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav navbar-nav">
                    <div class="lang-selection">
                        {% get_available_languages as languages %}
                        {% for lang_code, lang_name in languages %}
                            <form action="{% url 'set_language' %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" name="language" value="{{ lang_code }}"/>
                            </form>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main">
    {% block content %}{% endblock %}
</div>

<script src="{% static "configurator/init.js" %}"></script>
</body>
</html>
