{% load staticfiles %}
{% load compress %}
{% load sass_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Configurator {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% compress css %}
            <link href="{% sass_src "configurator/styles.sass" %}" media="all" rel="stylesheet" type="text/css"/>
        {% endcompress %}

        {% block customhead %}{% endblock %}
    </head>

    <body role="document" class="{{ request.session.color }}">
        <div class="container theme-showcase" role="main">
            <div class="lang-selection">
                {% get_available_languages as languages %}
                {% for lang_code, lang_name in languages %}
                <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="language" value="{{ lang_code }}"/>
                </form>
                {% endfor %}
            </div>
            {% block content %}{% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/16.4.1/jcanvas.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            {% include "init.js" %}        
        </script>
    </body>
</html>
