{% extends "base.html" %}
{% load i18n %}

{% block customhead %}

{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{%  trans "Configurator" %}</h1>
</div>

<form id="calculationForm" class="form" action="{% url 'calc' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="preview">
                <canvas id="connectionPreview"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group unit" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" id="q156" name="unit" value="mm" checked active/>milimeters
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="q157" name="unit" value="in" />inches
                </label>
            </div>
            <div class="field connection">
                <label>{% trans "Connection" %}:</label>
                <div class="dropdown">
                    <input type="hidden" name="connection_type" id="connection_type"/>
                    <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="selected-text">{% trans "Situation" %}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for connection in connection_types %}
                        <li><a name="{{ connection.name }}" href="#">{% trans connection.name %}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="m1" class="field">
                <label>{% trans "Material thickness" %} I:</label>
                <input class="form-control right" value="40.00" name="m1" type="number" step="0.01" pattern="^[0-9]+$">
                <span class="lbl unit">mm</span>
                <span class="help-block"></span>
            </div>
            <div id="m2" class="field">
                <label>{% trans "Material thickness" %} II:</label>
                <input class="form-control right" value="40.00" name="m2" type="number" step="0.01" pattern="^[0-9]+$">
                <span class="lbl unit">mm</span>
                <span class="help-block"></span>
            </div>
            <div id="angle" class="field">
                <label>{% trans "Angle" %}:</label>
                <input class="form-control right" value="90.00" name="angle" type="number" min="40" max="140" step="1">

                <span class="unit">°</span>
                <span class="help-block"></span>
            </div>

            <div id="calc" class="button">
                <input class="btn btn-default" type="submit" value="{% trans "Submit" %}"/>
            </div>
            <div class="errors"></div>
        </div>
    </div>
</form>


<div class="results">
    {% for connector in connectors %}
    <div class="sec-{{ connector.name }}">
        <h4>{% trans "Connector" %}: {{ connector.name }}</h4>
        <table class="connectors">
            <thead>
                <th class="conn-cnc">CNC</th> 
                <th class="conn-zeta">Zeta</th> 
            </thead>
            <tbody>
                <tr>
                    <td class="cnc"></td>
                    <td class="zeta"></td>
                </tr>
            </tbody>
        </table> 
        <input class="btn btn-default pdf-btn" type="submit" value="Export"/>
    </div>
    {% endfor %}
</div>

{% endblock %}
