{% extends "base.html" %}
{% load i18n %}

{% block customhead %}

{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Configurator</h1>
</div>

<form class="form">
    <div class="row">
	<div class="col-md-6">
	    <div class="preview">
            <canvas id="connectionPreview"></canvas>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="btn-group" data-toggle="buttons">
		<label class="btn btn-default active">
		    <input type="radio" id="q156" name="..." value="1" active/>milimeters
		</label> 
		<label class="btn btn-default">
		    <input type="radio" id="q157" name="..." value="2" />inches
		</label> 
	    </div>
	    <div class="field connection">
		<label>Verbindung:</label>
		<div class="dropdown">
		    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class="selected-text">Situation</span>
			<span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">Stumpfe Eckverbindung</a></li>
			<li><a href="#">Winkelhalbierende</a></li>
			<li><a href="#">Gehrung</a></li>
			<li><a href="#">T-Verbindung</a></li>
			<li><a href="#">Mittelwand</a></li>
		    </ul>
		</div>
	    </div>
	    <div class="field">
		<label>Materialstärke I:</label>
		<input class="form-control right" type="text" placeholder="0" pattern="^[0-9]+$">
		<span class="unit">mm</span>
		<span class="help-block"></span>
	    </div>
	    <div class="field">
		<label>Materialstärke II:</label>
		<input class="form-control right" type="text" placeholder="0" pattern="^[0-9]+$">
		<span class="unit">mm</span>
		<span class="help-block"></span>
	    </div>
	    <div class="field">
		<label>Winkel:</label>
		<input class="form-control right" type="text" placeholder="0">
		<span class="unit">°</span>
		<span class="help-block"></span>
	    </div>
	</div>
    </div>
</form>

{% endblock %}
