{% extends "base.html" %}
{% load i18n %}

{% block customhead %}

{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Configurator</h1>
</div>

<form id="calculationForm" class="form" action="{% url 'calc' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="preview">
                <canvas id="connectionPreview"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" id="q156" name="measurement" value="1" active/>milimeters
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="q157" name="measurement" value="2" />inches
                </label>
            </div>
            <div class="field connection">
                <label>Verbindung:</label>
                <div class="dropdown">
                    <input type="hidden" name="connection_type" id="connection_type"/>
                    <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="selected-text">Situation</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for connection in connection_types %}
                        <li><a href="#">{{ connection.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="m1" class="field">
                <label>Materialstärke I:</label>
                <input class="form-control right" name="m1" type="text" placeholder="0" pattern="^[0-9]+$">
                <span class="unit">mm</span>
                <span class="help-block"></span>
            </div>
            <div id="m2" class="field">
                <label>Materialstärke II:</label>
                <input class="form-control right" name="m2" type="text" placeholder="0" pattern="^[0-9]+$">
                <span class="unit">mm</span>
                <span class="help-block"></span>
            </div>
            <div id="angle" class="field">
                <label>Winkel:</label>
                <input class="form-control right" name="angle" type="text" placeholder="0">
                <span class="unit">°</span>
                <span class="help-block"></span>
            </div>
            <div id="calc" class="button">
                <input class="btn btn-default" type="submit" value="Submit"/>
            </div>
        </div>
    </div>
</form>

<div class="results">
    {% csrf_token %}
    <table class="connectors">
        <thead>
            <th class="conn-name">Verbindername</th> 
            <th class="conn-cnc">CNC</th> 
            <th class="conn-zeta">Zeta</th> 
            <th class="conn-export">Export</th> 
        </thead>
        <tbody>

        <!-- could be done dynamically -->
        <tr class="P10">
            <td>P-10</td>
            <td class="cnc">
            </td>
            <td class="zeta">
            </td>
            <td>
                <input class="btn btn-default pdf-btn" type="submit" value="Export"/>
            </td>
        </tr>
        <tr class="P14">
            <td>P-14</td>
            <td class="cnc">
            </td>
            <td class="zeta">
            </td>
            <td>
                <input class="btn btn-default pdf-btn" type="submit" value="Export"/>
            </td>
        </tr>
        <tr class="P1014">
            <td>P-10/P-14</td>
            <td class="cnc">
            </td>
            <td class="zeta">
            </td>
            <td>
                <input class="btn btn-default pdf-btn" type="submit" value="Export"/>
            </td>
        </tr>
        </tbody>
    </table> 
</div>

{% endblock %}
