.theme-showcase
  width: 100%
  position: relative

  .lang-selection
    position: absolute
    right: 10px 
    top: 0
    form 
      float: left
      padding: 15px 0
    input[type="submit"]
      background: none
      border: none
      //color: white
      text-transform: uppercase

.form
  .preview
    height: 300px
    line-height: 300px
  .btn-group, .dropdown
    margin-bottom: 30px
  .field
    label
      width: 40%
    .form-control
      display: inline
      width: auto
      &.right
        text-align: right
    &.connection
      margin-bottom: 20px
      .dropdown
        display: inline
        button
          width: 178px

.results
  display: none
  table.connectors
    width: 100%
    box-sizing: border-box
    td
      width: 25%
      border: 1px solid #DEDDDD
      padding: 10px

